{% extends 'base.html.twig' %}

{% block title %}Editer une tache{% endblock %}

{% block body %}
<h2>📝 Editer une tache</h2>

		{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="row">
			<div class="col-6">
				{{ form_row(form.nom) }}
			</div>
			<div class="col-2">
				{{ form_row(form.status) }}
			</div>
			<div class="col-2">
				{{ form_row(form.categorie) }}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_row(form.description) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.save) }}
			</div>
		</div>
		{{ form_end(form) }}
	 
{% endblock %}
