{# Premier fichier écrit d'ajout d'une tache. 
	Ce fichier à été réécrit dans le fichier add_tache\ajoutTache.html.twig pour l’implémentation d’une fonctionnalité interdisant l’ajout d’une nouvelle tache avec le statut terminer. 
	PS : Ce fichier inutiliser peut être détruit. 
#}
{% extends 'base.html.twig' %}

{% block title %}Ajouter une tache
{% endblock %}

{% block body %}
	 
		<h2>➕ Ajouter une tache</h2>

		{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="row">
			<div class="col-6">
				{{ form_row(form.nom) }}
			</div>
			<div class="col-2">
				{{ form_row(form.status) }}
			</div>
			<div class="col-2">
				{{ form_row(form.categorie) }}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_row(form.description) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.save) }}
			</div>
		</div>
		{{ form_end(form) }}
	 
{% endblock %}
